
body, * {
  box-sizing: border-box;
}

table {
	border-collapse:collapse;
	border-spacing:0;
}
fieldset,img { 
	border:0;
}
input{
	border:1px solid #b0b0b0;
	padding:3px 5px 4px;
	color:#979797;
	width:190px;
}
address,caption,cite,code,dfn,th,var {
	font-style:normal;
	font-weight:normal;
}
header {
  position: absolute;
  font-family: 'futura', sans-serif;
  width: 270px;
  height: 100%;
  margin:20px;
  padding:20px;
  background-color: #4ECECE;
  /* Initially have menu as hidden */
  visibility: hidden;
  z-index: 9999;
}


header h1 { 
    
   	padding-top: 20px;
    font-size: 60px;
    color: black;
}


header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 300px
    
}


header nav ul li a{
	display: block;
	font-size: 1.5em;
    color: #000;
    padding: 8px 0 8px 16px;
    text-decoration: none;
}

header nav ul li a:hover{
	background-color:#1F4250;
	color: white;
}


/* Mobile Menu */

.mobile-header {
  /* Clearfix */
  overflow: hidden;
  display: inline-block; /* Necessary to trigger "hasLayout" in IE */
  display: block; /* Sets element back to block */
}

.mobile-header h1{
  display: inline-block;
  padding: .5rem;
}

.mobile-header-title {
  float: left;
}

.mobile-header-menu {
  float: right;
}

caption,th {
	text-align:left;
}
h1,h2,h3,h4,h5,h6 {
	font-size:100%;
	font-weight:normal;
}
q:before,q:after {
	content:'';
}
abbr,acronym { border:0;
}


/* Media Queries */

/* Medium/Tablet Size*/
@media only screen and (min-device-width : 768px) {

  /* Styles */
  header {
    visibility: visible;
    position: fixed;
    top: 0;
  }

  .wrapper {
    margin-left: 300px;
  }


}