/* Flexible Slide-to-top Accordion Style*/
.wrapper{
	width:100%;
	max-width:1200px;	
	margin-top: 50px;
	padding-top: 20px;
}

.st-accordion{
    width:100%;
    min-width:270px;
    margin: 0 auto;
}
.st-accordion ul li{
    height: 100px;
    border-bottom: 1px solid #c7deef;
    border-top:1px solid #fff;
    overflow: hidden;
}
.st-accordion ul li:first-child{
    border-top:none;
}
.st-accordion ul li > a{
    font-family: 'futura', sans-serif;
    color: black;
    font-size: 36px;
    font-weight: bold;
    display: block;
    position: relative;
    line-height: 100px;
    outline:none;
    -webkit-transition:  color 0.2s ease-in-out;
    -moz-transition:  color 0.2s ease-in-out;
    -o-transition:  color 0.2s ease-in-out;
    -ms-transition:  color 0.2s ease-in-out;
    transition:  color 0.2s ease-in-out;
}
.st-accordion ul li > a span{
	background: transparent url(../images/down.png) no-repeat center center;
	text-indent:-9000px;
	width: 26px;
	height: 14px;
	position: absolute;
	top: 50%;
	right: -26px;
	margin-top: -7px;
	opacity:0;
	-webkit-transition:  all 0.2s ease-in-out;
	-moz-transition:  all 0.2s ease-in-out;
	-o-transition:  all 0.2s ease-in-out;
	-ms-transition:  all 0.2s ease-in-out;
	transition:  all 0.2s ease-in-out;
}
.st-accordion ul li > a:hover{
    color: yellow;
}
.st-accordion ul li > a:hover span{
	opacity:1;
	right: 10px;
}
.st-accordion ul li.st-open > a{
    color: yellow;
}
.st-accordion ul li.st-open > a span{
	-webkit-transform:rotate(180deg);
	-moz-transform:rotate(180deg);
    transform:rotate(180deg);
    right:10px;
    opacity:1;
    height: 1800px;
}
.st-content{
    margin-bottom: 60px;
    font-size:  17px;
    font-family: 'futura', sans-serif;

}
.st-content p{

 margin-right: 200px;
 padding:0px 200px 20px 0px; 
}
.st-content h2 {
	font-size: 26px;
}
.st-content img{
   max-width: 100%;
   max-height: 100%;
   width: auto;
   height: auto;

   
}


@media screen and (max-width: 320px){
	.st-accordion ul li > a{
		font-size:26px;
	}
}

.st-content ul{
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	justify-content: left;

}
.st-content ul li{
	
	width: 38%;
	height:38%;
	margin: 1%;
	font-size: 0;
	border: none;
	font-size: 12px;
	

}
.st-content iframe { 
	
	margin: 1%;

}

/* Media Queries */

/* Medium/Tablet Size*/
@media only screen and (min-device-width : 768px) {

  /* Styles */

  .wrapper {
    margin-left: 300px;
  }


}